<%= render "shared/header" %>
<div class="contents row">
  <% if current_user.id == @user.id %>
    マイページ
    <%= link_to "ユーザー情報編集", edit_user_registration_path %>
  <% else %>
    <%= @user.name %>の投稿一覧
  <% end %>
  <% @items.each do |item| %>
    <li class='list'>
      <div class="posted-content">
        <%= link_to item_path(item.id) do %>
          <%= image_tag item.image %><br>
        <% end %>
      </div>
    </li>
  <% end %>
</div>