<header class='header'>
  <div class="header-container">
    <div class="top-logo">
      <%= link_to "Foodify", root_path %>
      <%= link_to "🕐", timeline_items_path %>
    </div>
    <div class="top-menu">
      <% if user_signed_in? %>
        <div class="menu-item" id="menu-item">
          <a href="<%= user_path(current_user) %>" class="menu-link">
            <% if current_user.icon.attached? %>
              <%= image_tag rails_blob_path(current_user.icon), class: "icon-header" %>
            <% else %>
              <%= image_tag 'default_icon.jpg', class: "icon-header" %>
            <% end %>
            <%= current_user.name %><%= image_tag 'down-arrow.png', class: "icon-menu" %>
          </a>
          <ul class="drop-menu">
            <li class="drop-menu-item">
              <a href="<%= user_path(current_user) %>" class="drop-menu-link">
                <% if current_user.icon.attached? %>
                  <%= image_tag rails_blob_path(current_user.icon), class: "icon-drop" %>
                <% else %>
                  <%= image_tag 'default_icon.jpg', class: "icon-drop" %>
                <% end %>
                <%= current_user.name %>
                <div class="right-arrow">＞</div>
              </a>
            </li>
            <li class="drop-menu-item">
              <a href="<%= liked_items_user_path(current_user) %>" class="drop-menu-link">
                <div>いいね一覧</div>
                <div class="right-arrow">＞</div>
              </a>
            </li>
            <li class="drop-menu-item">
              <a href="<%= new_item_path %>" class="drop-menu-link">
                <div>投稿する</div>
                <div class="right-arrow">＞</div>
              </a>
            </li>
            <li class="drop-menu-item">
              <a href="<%= edit_user_path(current_user) %>" class="drop-menu-link">
                <div>アカウント設定</div>
                <div class="right-arrow">＞</div>
              </a>
            </li>
            <li class="drop-menu-item">
              <a href="<%= destroy_user_session_path %>" data-turbo-method="delete" class="drop-menu-link">
                <div>ログアウト</div>
                <div class="right-arrow">＞</div>
              </a>
            </li>
          </ul>
        </div>
      <% else %>
        <div class="header-right">
          <%= link_to 'ログイン', new_user_session_path %>
          <%= link_to '新規登録', new_user_registration_path %>
        </div>
      <% end %>
    </div>
  </div>
</header>