<header class='header'>
  <div class="header-container">
    <div class="side-top">
      <div class="top-logo">
        <%= link_to "Foodify", root_path %>
      </div>
      <div class="side-navi">
        <div class="navi-content">
          <a href="<%= root_path %>" class="navi-link">
            <%= image_tag "home.png", class: "navi-icon" %>
            <div class="navi-text">ホーム</div>
          </a>
        </div>
        <div class="navi-content">
          <a href="<%= search_items_path %>" class="navi-link">
            <%= image_tag "kensaku.png", class: "navi-icon" %>
            <div class="navi-text">見つける</div>
          </a>
        </div>
        <div class="navi-content">
          <a href="<%= timeline_items_path %>" class="navi-link">
            <%= image_tag "time.png", class: "navi-icon" %>
            <div class="navi-text">タイムライン</div>
          </a>
        </div>
        <div class="navi-content">
          <a href="#" class="navi-link">
            <%= image_tag "tuuti.png", class: "navi-icon" %>
            <div class="navi-text">通知</div>
          </a>
        </div>
        <div class="navi-content">
          <a href="<%= liked_items_user_path(current_user) %>" class="navi-link">
            <%= image_tag "iine.png", class: "navi-icon" %>
            <div class="navi-text">いいね</div>
          </a>
        </div>
        <% if user_signed_in? %>
          <div class="navi-content">
            <a href="<%= user_path(current_user) %>" class="menu-link">
              <% if current_user.icon.attached? %>
                <%= image_tag rails_blob_path(current_user.icon), class: "navi-user-icon" %>
              <% else %>
                <%= image_tag 'default_icon.jpg', class: "navi-user-icon" %>
              <% end %>
              <%= current_user.name %>
            </a>
          </div>
        <% else %>
          <%= link_to 'ログイン', new_user_session_path %>
          <%= link_to '新規登録', new_user_registration_path %>
        <% end %>
        <div class="navi-content-create">
          <a href="<%= new_item_path %>" class="navi-link-create">
            <div class="navi-text">投稿する</div>
          </a>
        </div>
      </div>
    </div>
    <div class="side-bottom">
      <div class="bottom-content">
        <a href="<%= edit_user_path(current_user) %>" class="navi-link">
          <%= image_tag "setting.png", class: "navi-icon" %>
          <div class="navi-text">設定</div>
        </a>
      </div>
    </div>
  </div>
</header>