<%= turbo_frame_tag item do %>
  <% if user_signed_in? && current_user.likes.find_by(item_id: item.id) %>
    <div class="item-likes">
      <%= link_to "♥", item_likes_path(item.id),  data: { turbo_method: :delete } %>
      <%= item.likes.count %>
    </div>
  <% else %>
    <div class="item-likes">
      <%= link_to "♡", item_likes_path(item.id), data: { turbo_method: :post } %>
      <%= item.likes.count %>
    </div>
  <% end %>
<% end %>