<%= render "shared/header" %>
<div class='item-contents'>
  <div class='item-lists'>
    <% @items.each do |item| %>
      <div class="posted-item">
        <%= link_to item_path(item.id), remote: true do %>
          <%= image_tag item.image, class: 'posted-image', id: "photo-img" %>
          <div class="item-counts">
            <%= image_tag 'heart_white.png', class: "white-heart" %>
            <%= content_tag(:span, item.likes.count, class: "white-count") %>
            <%= image_tag 'comment.png', class: "white-heart" %>
            <%= content_tag(:span, item.comments.count) %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>