<%= render "shared/header" %>
<div class='item-contents' id="detailed-search-result-wrapper">
  <div class='item-lists' id="detailed-search-result">
    <% @items.each do |item| %>
      <div class="posted-item">
        <%= link_to item_path(item.id) do %>
          <%= image_tag item.image, class: 'posted-image' %>
          <div class="item-counts">
            <%= image_tag 'heart_white.png', class: "white-heart" %>
            <%= item.likes.count %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>