<%= render "shared/header" %>
<div class="item-contents">

  <div class="show-item-container">

    <div>
      <%= link_to "â†", :back,  class: "left-arrow"%>
    </div>

    <%= image_tag @item.image, class: 'show-image' %>

    <div class="show-side">
      <div class="show-user-container">
        <div class="show-user">
          <a href="<%= user_path(@item.user) %>">
            <% if @item.user.icon.attached? %>
              <%= image_tag rails_blob_path(@item.user.icon), class: "show-icon" %>
            <% else %>
              <%= image_tag 'default_icon.jpg', class: "show-icon" %>
            <% end %>
            <%= @item.user.name %>
          </a>
           <%= render partial: "users/follow", locals: { user: @user } %>
        </div>
        <div class="show-option">
          <%= render partial: "items/like", locals: { item: @item } %>
          <%= image_tag 'comment_black.png', class: "bottom-comment" %>
          <%= content_tag(:span, @item.comments.count, class: "heart-before-text") %>
          <% if user_signed_in? && current_user.id == @item.user_id%>
            <%= link_to edit_item_path(@item.id) do %>
              <%= image_tag 'edit.png', class: "option-icon" %>
            <% end %> 
            <%= link_to item_path(@item.id), data: { turbo_method: :delete } do %>
              <%= image_tag 'destroy.png', class: "option-icon" %>
            <% end %>
          <% end %>
        </div>
      </div>
  
      <div class="show-category-container">
        <div class="show-category">
          <%= link_to @item.category1.name, search_items_path(category1_id: @item.category1.id), class: "category-btn" %>
        </div>
        <div class="show-category">
          <%= link_to @item.category2.name, search_items_path(category2_id: @item.category2.id), class: "category-btn" %>
        </div>
      </div>

      <div class="show-tag">
        <% @item.tags.each do |tag| %>
          <a href="<%= search_items_path(tag_name: tag.tag_name) %>" class="show-link">
            <%= image_tag "tag.png", class: "tag-icon" %>
            <%= tag.tag_name %>
          </a>
        <% end %>
      </div>

      

      <%= turbo_frame_tag 'comments' do %>
        <%= render partial: "items/comments", locals: { item: @item, comments: @comments, comment: @comment } %>
      <% end %>

    </div>
  </div>
</div>
