<%= render "shared/header" %>
<div class="show-item">
  <%= image_tag @item.image, class: 'show-image' %><br>
  <div class="show-side">
  <table>
    <tr>
      <td>カテゴリー１</td>
      <td><%= link_to @item.category1.name, search_items_path(category1_id: @item.category1.id) %></td>
    </tr>
    <tr>
      <td>カテゴリー２</td>
      <td><%= link_to @item.category2.name, search_items_path(category2_id: @item.category2.id) %></td>
    </tr>
    <tr>
      <th>タグ</th>
      <td><%= link_to @item.tags.first&.tag_name, search_items_path(tag_name: @item.tags.first&.tag_name) %></td>
    </tr>
  </table>
  <%= render partial: "items/like", locals: { item: @item } %>
  <% if user_signed_in? && current_user.id == @item.user_id%>
    <%= link_to '編集', edit_item_path(@item.id)%>
    <%= link_to '削除', item_path(@item.id), data: { turbo_method: :delete }%>
  <% end %>
  <a href="<%= user_path(@item.user) %>">
    <% if @item.user.icon.attached? %>
      <%= image_tag rails_blob_path(@item.user.icon), class: "icon" %>
    <% else %>
      <%= image_tag 'default_icon.jpg', class: "icon" %>
    <% end %>
    <%= @item.user.name %>
  </a>
  <%= render partial: "users/follow", locals: { user: @user } %>
  </div>
</div>
