<%= render "shared/header" %>
<div class='item-contents' id="detailed-search-result-wrapper">
  <div class='item-lists' id="detailed-search-result">
    <% @items.each do |item| %>
      <div class="timeline-posted-item">
        <a href="<%= user_path(item.user) %>" class="timeline-user">
          <% if item.user.icon.attached? %>
            <%= image_tag rails_blob_path(item.user.icon), class: "timeline-icon" %>
          <% else %>
            <%= image_tag 'default_icon.jpg', class: "timeline-icon" %>
          <% end %>
          <%= item.user.name %>
        </a>
        <%= link_to item_path(item.id) do %>
          <%= image_tag item.image, class: 'posted-image' %>
          <div class="item-counts">
            <%= image_tag 'heart_white.png', class: "white-heart" %>
            <%= item.likes.count %>
          </div>
        <% end %>
        <%= render partial: "items/like", locals: { item: item } %>
      </div>
    <% end %>
  </div>
</div>

